@CHARSET "ISO-8859-1";

/*Pa css*/

input[type=text], select {
    border: 1px solid #000000;
    border-radius: 4px;
}
div[type=text], select {
    border: 1px solid #000000;
    border-radius: 4px;
}
input[type=password], select {
    border: 1px solid #000000;
    border-radius: 4px;
}

textarea {
 	border: 1px solid #000000;
    border-radius: 4px;
}

#header-fixed {
	position: fixed;
	top: 0px;
	display: none;
	background-color: white;
}

div.dataTables_wrapper {
/*  	width: 800px; 
 	margin: 0 auto;  */
}

#abcIS {
	width: 100%;
	height: 100%;
	opacity: 95;
	top: 0;
	left: 0;
	display: none;
	position: fixed;
	background-color: #313131;
	overflow: auto
}

img#close {
	position: absolute;
	right: -14px;
	top: -14px;
	cursor: pointer
}

div#popupContact {
	position: absolute;
	left: 40%;
	top: 17%;
	margin-left: -202px;
	font-family: 'Raleway', sans-serif;
}

.main {
	height: 200px;
	overflow-x: scroll;
}

.div2 {
	height: 210px;
}

#abcIS {
	width: 100%;
	height: 100%;
	opacity: 95;
	top: 0;
	left: 0;
	display: none;
	position: fixed;
	background-color: #313131;
	overflow: auto
}

.leftscroll {
	position: absolute;
	top: 95px;
	left: 247px;
	width: 17px;
	height: 265px;
	overflow-y: scroll;
}

@media only screen and (max-width:768px) {
	.leftscroll {
		position: absolute;
		top: 99px;
		left: 32px;
		width: 17px;
		height: 265px;
		overflow-y: scroll;
	}
}

.div1 {
	width: 17px;
	height: 830px;
}


/*motor calculator css*/


div#popupContact {
	position: absolute;
	left: 40%;
	top: 17%;
	margin-left: -202px;
	font-family: 'Raleway', sans-serif;
}

.input-group .form-control {
	position: relative;
	z-index: 0;
	float: left;
	width: 100%;
	margin-bottom: 0;
}

#header-fixed {
	position: fixed;
	top: 0px;
	display: none;
	background-color: white;
}


.main {
	height: 200px;
	overflow-x: scroll;
}

.div2 {
	height: 210px;
}

div#popupContact1 {
	position: absolute;
	left: 40%;
	top: 35%;
	margin-left: -202px;
	font-family: 'Raleway', sans-serif;
}

div#popupContact2 {
	position: absolute;
	left: 40%;
	top: 0%;
	margin-left: -202px;
	font-family: 'Raleway', sans-serif;
}
/* .leftscroll {
	position: absolute;
	top: 95px;
	left: 247px;
	width: 17px;
	height: 265px;
	overflow-y: scroll;
} */

/* @media only screen and (max-width:768px) {
	.leftscroll {
		position: absolute;
		top: 99px;
		left: 32px;
		width: 17px;
		height: 265px;
		overflow-y: scroll;
	}
} */


#wait{ 
	background: url(../images/loader.gif) no-repeat;
	background-repeat: no-repeat;
}

.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}

input:focus {
  box-shadow: 0 0 5px rgba(240, 128, 0, 1);
  padding: 3px 0px 3px 3px;
/*   margin: 5px 1px 3px 0px; */
  border: 1px solid rgba(240, 128, 0, 1);
}

/* .mandatory::first-letter {
    color: #ff0000;
} */

